.colaborador {
    position: relative;
    width: 262px;
    height: 272px;
    border-radius: 10px; 
    margin-bottom: 39px;
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
}
.colaborador .img-container {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    overflow: hidden;
    margin-top: 40px;
    position: absolute;
    z-index: 1;
}
.colaborador .img-container img {
    max-width: 100%;
    max-height: 100%;
}
.colaborador svg {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-top: 35px;
    position: absolute;
    background-color: white;
    border: 5px solid white;
}
.colaborador h4 {
    color: #6278F7;
    font-size: 18px;
    font-weight: 600;
    margin: 18px 0 0 0;
    margin-top: 178px;
    position: absolute;
}
.colaborador h5 {
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    width: 200px;
    margin-top: 211px;
    position: absolute;
}
.colaborador .deletar {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 100%;
    color: white;
    font-weight: 700;
    font-size: 0.7rem;
    text-align: center;
    padding-top: 2px;
    box-sizing: border-box;
    cursor: pointer;
}
.colaborador .favoritar {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}
.colaborador .favorito {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 3px solid green;
    background-color: green;
    font-weight: 900;
    color: white;
    transform: scaleX(-1);
    rotate: 45deg;
}
.colaborador .naoFavorito {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 3px solid green;
    background-color: transparent;
    font-weight: 900;
    color: white;
    transform: scaleX(-1);
    rotate: 45deg;
    -webkit-text-stroke-color: green;
    -webkit-text-stroke-width: 2px;
}